*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    height: 725px;
    background: url(../img/paisaje.jpg);
    background-size: cover;
    position: static;
    background-attachment: fixed;
     
}
 nav{
    background: #ffffff;;
    padding: 30px 0px;
    text-align: center;
    text-transform: uppercase;
 }

 nav>a{
    color:black;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;
    font-size: 20px;
}
.text-header{
    text-align: center;
    width: 100%;
}


h1 {
    color: #ffffff;
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    padding-top: 10%
}

.text-heade>a{
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #ffff;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

.wave-one{
    position: relative;
    background: url(../img/wave\ 3.svg);
    height: 290px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    margin-top: 8%;
    
}
.movie-us{
    background-color: #f2f2f2;
}
.another-container{
    text-align: center;
}
.another-container h2{
    color: #d151d1;
    text-transform: uppercase;
    font-size: 30px;
}

.container-movies{
    display:flex;
    margin-top:20px;
    justify-content: space-around;

}

.movies{
    width: 30%;
    background: #fff;
    margin-bottom: 10px;
    margin-right: 30px;

}
.container-movies img{
    width: 300px;
    height: 300px;
}

.container-movies.h3{
    font-size: 25px;
    margin-top: 30px;
}
.movies p{
    font-weight: 100;
    color: #5d6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

section.container.about-us {
    padding-bottom: 100px;
   
}
.container.about-us h2{
    color: salmon;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}
.dicen-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dicen-int{
    text-align: center;
    padding-top: 60px;
}

.dicen-int img{
    width: 190px;
    height: 190px;
    border-radius: 100%; 
}

.dicen-int h3{
    margin: 10px;
    color:   #d151d1;
}
 
.dicen-int p{
    color:  #d151d1;
    padding-left: 30px;
}
footer{
    background-color: black;
    width: 100%;
    color: #fff;
    display: flex;
}

.wave-four{
    background: url(../img/wave\ 3.svg);
    height: 290px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    margin-top: 10%;
}
.container-footer-all{
    width: 100%;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding: 20,0,0,0;
    padding-top: 10%;
    padding-bottom: 10%;
    justify-content: space-evenly;
}
 
 

 .colum1{
     max-width: 300px;
     padding-left: 30px;
    padding-right: 30px;
 }
 .colum1 h2{
     font-size: 25px;
 }

 .colum1 p{
     font-size: 20px;
     margin-top: 20px;
 }
.colum1 img{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
}
 .colum2{
    max-width: 250px;
    padding-left: 20px;
    padding-right: 25px;
 }
 .row{
     margin-top: 15px;
    
 }

 .colum3{
    max-width: 250px; 
    padding-left: 20px;
    padding-right: 25px;
 }

 .colum4{
    max-width: 250px;
    padding-left: 20px;
    padding-right: 25px;
 }

 .container-footer{
    width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.copyright{
    color: #c7c7c7;
}

.copyright a{
     text-decoration: none;
     color: white;
     font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #c7c7c7;
}